<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!-- link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/shipper/unpaidList.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <div class="wrap">
			<div class="w_in">
				<!-- sub-contents(S) -->
				<div class="sub_contents common">
				<!-- sub상단(S) -->
				<div class="sub_top">
					<h2 class="sub_title">미지급내역</h2>
	
					<!-- nav -->
        			<th:block th:replace="nav/nav04"></th:block>
				</div>
				<!-- sub상단(E) -->
				<div class="sub_in">
					<!-- 검색조건창(S) -->
					<div class="search_box type2">
						<label for="searchSel"></label>
						<div class="date_from_to">
							<div class="date_box">
								<input type="text" class="datepicker" name="schDate" id="">
							</div>					
						</div>							
						<a href="#" class="btn_search" onclick="javascript:fn_search();">검색</a>
					</div>
					
					<div class="title_box mt10">
						<div class="fl"  id="divBtn">
							<a href="#" class="btn_type_02 print" onclick="javascript:print();">인쇄하기</a>
	
						</div>
						<div class="fr">
							<span class="txt_unit">(단위:원)</span>
						</div>
					</div>
					<!-- 테이블(S) -->
					<div class="table_type_01 mt10" id="unpaidList">
					</div>
					<!-- 테이블(E) -->
				</div>
				<!-- sub-contents(E) -->	
				</div>
			</div>
		</div>
		
    </div>
</html>