<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <!--footerFragment 선언-->
    <div th:fragment="footerFragment">
        <!-- footer(S) -->
		<div class="footer"> 
			<div class="f_in">
				<a href="#!" class="f_logo"><img src="/static/img/f_logo.png" alt="푸터로고"></a>
				<ul class="address">
					<li><span>주소</span> 강원도 강릉시 유산로 60</li>
					<li><span>대표전화</span> 033-644-4654</li>
					<li><span>팩스</span> 033-646-4860</li>
				</ul>
				<span class="copy">copyrightⓒ(주)강릉농산물도매시장 all right reserverd.</span>
			</div>

		</div>
		<!-- footer(E) -->
    </div>
</html>