<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!-- link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/notice/noticeView.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <div class="wrap">
			<div class="w_in">
				<!-- sub-contents(S) -->
				<div class="sub_contents common">
				<!-- sub상단(S) -->
				<div class="sub_top">
					<h2 class="sub_title"><span id="nTitle">유통정보</span></h2>
			
					<!-- nav -->
        			<th:block th:replace="nav/nav07"></th:block>
				</div>
					<!-- sub상단(E) -->
				<div class="sub_in">
					<!-- 상세테이블(S) -->
					<div class="table_type_detail">
					<table>
						<caption></caption>
						<colgroup>
							<col width="33.3%">
							<col width="33.3%">
							<col width="33.3%">
						</colgroup>
						<thead>
							<tr class="head_tit">
								<th colspan="3"><span th:text="${noticeDetail.subject}"></span></th>
							</tr>
							<tr class="head_devide">
								<th class="h_writer"><p><span>작성자</span><span th:text="${noticeDetail.regId}"></span></p></th>
								<th class="h_day"><p><span>작성일</span><span th:text="${noticeDetail.regDttm}"></span></p></th>
								<th class="h_views"><p><span>조회수</span><span th:text="${#numbers.formatInteger(noticeDetail.readCnt, 0, 'COMMA')}"></span></p></th>
							</tr>
						</thead>
						<tbody> 
							<tr>
								<td class="tc" colspan="3">
									<div class="text_box" style="min-height:400px;" id="contentsArea">
										<pre th:text="${noticeDetail.contents}"></pre>
									</div>
								</td>
							</tr>	
						</tbody>
						<tfoot id="fileArea">
						</tfoot>
					</table>
				</div>
				<!-- 상세테이블(E) -->

				<!-- 버튼(S) -->
				<div class="btn_box">
					<div class="fr" id="divBtn">
						<input type="hidden" id="searchType" th:value="${searchType}">
						<input type="hidden" id="keyword" th:value="${keyword}">
						<input type="hidden" id="page" th:value="${page}">
					</div>
				</div>
				<!-- 버튼(E) -->
				</div>
			</div>
			<!-- sub-contents(E) -->	
			</div>
			<div th:utext="${noticeDetail.contents}" id="contentesHide"></div>
		</div>
		
    </div>
</html>