<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!-- link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/member/managementView.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <div class="wrap">
			<div class="w_in">
				<!-- sub-contents(S) -->
				<div class="sub_contents common">
					<!-- sub상단(S) -->
					<div class="sub_top">
						<h2 class="sub_title"><span id="nTitle">회원관리</span></h2>
					</div>
						<!-- sub상단(E) -->
					<div class="sub_in">
					
						<!-- 레프트메뉴추가(S) -->					
						<th:block th:replace="nav/adminMenu"></th:block>
						<!-- 레프트메뉴추가(E) -->
					
						<!-- 상세테이블(S) -->
						<div class="table_type_detail">
							<table>
								<caption></caption>
								<colgroup>
									<col width="15%">
									<col width="35%">
									<col width="15%">
									<col width="35%">
								</colgroup>
								<thead>
									<tr class="head_member">
										<td class="text_subject">이름</td>
										<td class="text_content" th:text="${memberDetail.userNm}"></td>
										<td class="text_subject">이메일</td>
										<td class="text_content" th:text="${memberDetail.email}"></td>
									</tr>
									<tr class="head_member">
										<td class="text_subject">주민번호</td>
										<td class="text_content" th:text="${memberDetail.jumin}"></td>
										<td class="text_subject">사업자번호</td>
										<td class="text_content" th:text="${memberDetail.bizNo}"></td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject">전화번호</td>
										<td class="text_content" th:text="${memberDetail.telNum}"></td>
										<td class="text_subject">휴대폰</td>
										<td class="text_content" th:text="${memberDetail.mobNum}"></td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject">FAX</td>
										<td class="text_content" th:text="${memberDetail.faxNum}"></td>
										<td class="text_subject">등록일</td>
										<td class="text_content" th:text="${regDt}"></td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject">주소</td>
										<td class="text_content" colspan='3' th:text="'[ '+${memberDetail.zipCd}+' ] '+${memberDetail.addr}+' '+${memberDetail.addrDtl}"></td>
									</tr>
									
									<tr class="head_member">
										<td class="text_subject border_bo">메모</td>
										<td class="text_content border_bo" colspan='3' th:text="${memberDetail.memo}"></td>
									</tr>
									<tr class="border_bo">
										<td class="height_modi border_bo"></td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject">출하주 코드</td>
										<td class="text_content" th:text="${memberDetail.shipperCd}"></td>
										<td class="text_subject">승인여부</td>
										<td class="text_content" th:if="${memberDetail.aprvFlag == 'Y'}">승인<span class="aprvDt" th:text="'( '+${aprvDt}+' )'"></span></td>
										<td class="text_content" th:if="${memberDetail.aprvFlag == 'N'}">보류</td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject m_height">사유 메모</td>
										<!--<td class="text_content" colspan='3' th:text="${memberDetail.aprvResn}"></td>-->
										<td class="text_content" colspan="3"><textarea id="area_id" th:text="${memberDetail.aprvResn}" readonly></textarea></td>
									</tr>
									<tr  class="head_member">
										<td class="text_subject border_bo">등록 아이디</td>
										<td class="text_content border_bo" th:text="${memberDetail.userId}"></td>
										<td class="text_subject border_bo">등록 비밀번호</td>
										<td class="text_content border_bo" th:text="${memberDetail.userPw}"></td>
									</tr>
								</thead>
							</table>
						</div>
						<input type="hidden" id="msgView" th:value="${msgView}">
						<input type="hidden" id="seqNum" th:value="${memberDetail.seq}">
						<div id="btn_id">
							<a th:href="@{/member/management(page=${page},keyword=${keyword},searchType=${searchType},memberShip=${memberShip})}">목록</a>
							<a th:href="@{/member/managementUpdate(seq=${memberDetail.seq})}">수정</a>
						</div>
						<!--<a href="#!" onclick="javascript:fn_delete();">삭제</a>-->
						
						<!-- 상세테이블(E) -->
	
						<!-- 버튼(S) -->
						<div class="btn_box">
							<div class="fr" id="divBtn">
								<input type="hidden" id="searchType" th:value="${searchType}">
								<input type="hidden" id="keyword" th:value="${keyword}">
								<input type="hidden" id="page" th:value="${page}">
							</div>
						</div>
						<!-- 버튼(E) -->
					</div>
				</div>
			</div>
		</div>
    </div>
</html>