<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!-- link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/member/management.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <div class="wrap">
			<div class="w_in">
				<!-- sub-contents(S) -->
				<div class="sub_contents common">
					<!-- sub상단(S) -->
					<div class="sub_top">
						<h2 class="sub_title"><span id="nTitle">회원관리</span></h2>
						<!-- nav -->
	        			<!--<th:block th:replace="nav/nav07"></th:block>-->
					</div>
					<!-- sub상단(E) -->
					<div class="sub_in">
					
						<!-- 레프트메뉴추가(S) -->					
						<th:block th:replace="nav/adminMenu"></th:block>
						<!-- 레프트메뉴추가(E) -->	
						
						<!-- 검색조건창(S) -->
						<div class="search_box_modi">
							<select id="memberShip">
								<option value="all" th:selected="${memberShip}=='all'">전체</option>
								<option value="chul" th:selected="${memberShip}=='chul'">출하주</option>
								<option value="jung" th:selected="${memberShip}=='jung'">중도매인</option>
							</select>
							<select id="searchSel">
								<option value="userNm" th:selected="${searchType}=='userNm'">이름</option>
								<option value="bizNo" th:selected="${searchType}=='bizNo'">사업자번호</option>
								<option value="telNum" th:selected="${searchType}=='telNum'">전화번호</option>
								<option value="mobNum" th:selected="${searchType}=='mobNum'">휴대폰</option>
							</select>
							<label for="searchSel"></label>
							<input type="text" id="searchInp" placeholder="검색어를 입력하세요" onkeyup="javascript:fn_search();" th:value="${keyword}"><label for="searchInp"></label>
							<a href="javascript:fn_click();" class="btn_search">검색</a>
						</div>
						<!-- 검색조건창(E) -->
	
						<!-- 테이블(S) -->
						
						<div class="table_type_01 mt50">

							<table>
								<caption>자료갱신 일시</caption>
								<colgroup>
									<col width="10%">
									<col width="*">
									<col width="15%">
									<col width="15%">
									<col width="12%">
									<col width="12%">
									<col width="12%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">No.</th>
										<th scope="col">이름</th>
										<th scope="col">주민번호</th>
										<th scope="col">사업자번호</th>
										<th scope="col">전화번호</th>
										<th scope="col">휴대폰</th>
										<th scope="col">승인여부</th>
									</tr>
								</thead>
								<tbody id="memberList"/> 
							</table>
						</div>
						<input type="hidden" id="msg" th:value="${msg}">
						<!-- 테이블(E) -->
		
						<!-- 버튼(S) -->
						<div class="btn_box">
							<div class="fr" th:if="${session.member eq null}">
							</div>
							<!-- <span th:text="${session.member.memberType}"></span> -->
						</div>
						<!-- 버튼(E) -->
		
						<!-- 페이지박스(S) -->
						<div class="paging_box" id="divPaging"></div>
						<!-- 페이지박스(E) -->
						<input type="hidden" id="currentPage" th:value="${page}">	
						<input type="hidden" id="totalPost" th:value="${totalPost}">
					</div>
				</div>
				<!-- sub-contents(E) -->	
			</div>
		</div>
    </div>
</html>