<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!-- link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/member/passUpdate.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <div class="wrap">
			<div class="w_in">
				<!-- sub-contents(S) -->
			<div class="sub_contents sign">
				<div class="sub_in sign">
					
					<!-- 비밀번호 재설정(S) -->
					<div class="intro sign">
						<h4 class="int_tit">비밀번호 재설정</h4>
						<div class="member_info">
							<form name="frm" id="frm" action="/member/pwUpdate" method="post">
							<ul class="m_input">
								<li>
									<div class="mi_input">
										<label for="newPw">비밀번호</label>
										<input type="password" id="newPw" name="userPw" onblur="javascript:fn_passwordCheck();">
									</div>
									<span class="mi_notice">*4~10자 까지 숫자와 영문자의 혼합하여 사용하세요.</span>
								</li>
								<li>
									<div class="mi_input">
										<label for="newPwChk">비밀번호 확인</label>
										<input type="password" id="newPwChk" onblur="javascript:fn_passwordCheckVaildation();">
									</div>
								</li>
							</ul>
							<input type="hidden" id="upId" name="userId" th:value="${idUpdate}">
							</form>
							
							<!-- 버튼(S) -->
							<div class="btn_box tc btn_2">
								<a href="/login/login" class="btn_type_01 gray cancel">취소</a>
								<a href="#!" class="btn_type_01 green sign"  onclick="javascript:fn_passUpdate();">확인</a>
							</div>
							<!-- 버튼(E) -->
							
						</div>
					</div>
					<!-- 비밀번호 재설정(E) -->

				</div>
			</div>
			<!-- sub-contents(E) -->
		</div>		
    </div>
  </div>
</html>