<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnns.web.board.mapper.BoardMapper">

	<sql id="selectBoardListSearchCondition">
		<if test='searchType == "subject"'>
  		AND [제목] LIKE '%'+#{keyword}+'%'	
  		</if>
  		<if test='searchType == "contents"'>
  		AND [내용] LIKE '%'+#{keyword}+'%'
  		</if>
	</sql>
	
 	<select id="getBoardList" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
    	SELECT 
			  TOP (#{psize}) [일련번호] AS BOARD_SEQ
			, [제목] as SUBJECT
		    , [내용] as CONTENTS
		    , [이름] as REG_ID
		    , CONVERT(CHAR(10), [날짜], 23) as REG_DTTM
		    , [파일] as ATTCHEMENT_FILE
		    , SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
		    , [조회수] as READ_CNT
		    , (
		    	SELECT COUNT([일련번호]) FROM WEB_BOARD
		        WHERE 1=1
		        <include refid="selectBoardListSearchCondition"/>
		       )-(ROW_NUMBER() OVER(ORDER BY REF DESC, RE_STEP ASC)+(#{psize}*(#{page}-1)))+1 AS ROW_NUM
		    , RE_LEVEL AS RE_LEVEL
		    FROM WEB_BOARD
		WHERE [일련번호] NOT IN (
			SELECT 
				TOP (#{psize}*(#{page}-1)) [일련번호] FROM WEB_BOARD
			WHERE 1=1
			<include refid="selectBoardListSearchCondition"/>	
			ORDER BY REF DESC, RE_STEP ASC) 
		<include refid="selectBoardListSearchCondition"/>
		ORDER BY REF DESC, RE_STEP ASC
    </select>
    
    <select id="getBoardListCount" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
    	SELECT /*getNoticeListCount [전체건수]*/	
    		COUNT(*) AS TOT_CNT
    	  , CAST(CEILING(CAST(COUNT(*) AS FLOAT)/10) AS INT) AS TOT_PAGE 
    	FROM WEB_BOARD
    	WHERE
    	1=1
    	<include refid="selectBoardListSearchCondition"/>
    </select>
    <select id="getBoardRead" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
    <![CDATA[
        SELECT
			  [일련번호] AS BOARD_SEQ
			, REPLACE(REPLACE(REPLACE(CAST([제목] AS NVARCHAR(MAX)), '&lt;','<'), '&gt;', '>'),'&#39;&#39;&#39;&#39;','''''') AS SUBJECT
			, REPLACE(REPLACE(REPLACE(REPLACE(CAST([내용] AS NVARCHAR(MAX)), '&lt;','<'), '&gt;', '>'),'&#39;&#39;&#39;&#39;',''''''),'&#34;','''''') AS CONTENTS
			, CONVERT(CHAR(19), [날짜], 120) as REG_DTTM
			, REPLACE([이름], ' ', '') AS REG_ID
			, [파일] AS ATTCHEMENT_FILE
			, SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
			, [조회수] AS READ_CNT
			, [태그] AS TAG
		FROM WEB_BOARD
		WHERE [일련번호] =#{boardSeq}
		]]>
    </select>
    
      <select id="getAttachementFile" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
        SELECT
			  [파일] AS ATTCHEMENT_FILE
			, SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
		FROM WEB_BOARD
		WHERE [일련번호] =#{boardSeq}
    </select>
    
    
    <insert id="insertBoard" parameterType="com.gnns.web.board.model.BoardModel">
    	INSERT INTO WEB_BOARD
		(
			  [제목]
			, [내용]
			, [날짜]
			, [태그]
			, [이름]
			, [이메일]
			, [조회수]
			, [비밀번호]
			, [파일]
			, Ref
			, Re_step
			, Re_level
		)
		VALUES
		(
			  #{subject}
			, #{contents}
			, getDate()
			, #{tag}
			, #{regNm}
			, #{email}
			, 0
			, #{passWd}
			, #{attchementFile}
			, #{ref}
			, #{reStep}
			, #{reLevel}
			
		)
    </insert>
    
    <update id="updateBoardReadCnt" parameterType="com.gnns.web.board.model.BoardModel">
    	UPDATE WEB_BOARD
    	SET [조회수] = (SELECT [조회수] FROM WEB_BOARD WHERE [일련번호]=#{boardSeq})+1
    	WHERE [일련번호]=#{boardSeq}
    </update>
    
    <select id="selectMaxBoardSeq" resultType="integer" parameterType="com.gnns.web.board.model.BoardModel">
    	SELECT MAX(일련번호) +1 FROM WEB_BOARD
    </select>
    
    <select id="selectOriginMsgInfo" resultType="com.gnns.web.board.model.BoardModel" parameterType="com.gnns.web.board.model.BoardModel">
    	SELECT
    		 [제목] AS SUBJECT
    		,[내용] AS CONTENTS
    		,[태그] AS TAG
    		,REF
    		,RE_STEP
    		,RE_LEVEL
		FROM WEB_BOARD
		WHERE [일련번호] = #{boardSeq}
    </select>
    
    <update id="updateOriginMsg" parameterType="com.gnns.web.board.model.BoardModel">
    	UPDATE
    	WEB_BOARD
    	SET 
    		RE_STEP = RE_STEP+1
    	WHERE
    		REF =  #{ref}
    	and RE_STEP > #{reStep}
    </update>
    
      <select id="getBoardReadReply" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
    <![CDATA[
        SELECT
			  [일련번호] AS BOARD_SEQ
			, REPLACE(REPLACE(REPLACE(CAST([제목] AS NVARCHAR(MAX)), '&lt;','<'), '&gt;', '>'),'&#39;&#39;&#39;&#39;','''''') AS SUBJECT
			, '----------<원문내용>----------'+char(13)
			  + REPLACE(REPLACE(REPLACE(REPLACE(CAST([내용] AS NVARCHAR(MAX)), '&lt;','<'), '&gt;', '>'),'&#39;&#39;&#39;&#39;',''''''),'&#34;','''''') 
			  +char(13)+char(13)+'----------<답변내용>----------'
			  AS CONTENTS
			, CONVERT(CHAR(19), [날짜], 120) as REG_DTTM
			, REPLACE([이름], ' ', '') AS REG_ID
			, [파일] AS ATTCHEMENT_FILE
			, SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
			, [조회수] AS READ_CNT
			, [태그] AS TAG
		FROM WEB_BOARD
		WHERE [일련번호] =#{boardSeq}
		]]>
    </select>
    
    <!-- 2021-11-12 준혁(추가) -->
    <select id="boardRead" parameterType="com.gnns.web.board.model.BoardModel" resultType="com.gnns.web.board.model.BoardModel">
    	SELECT
    		[일련번호] AS boardSeq,
    		[제목] AS subject,
    		[내용] AS contents,
    		[이메일] AS email,
    		[이름] AS regNm,
    		[파일] AS attchementFile,
    		[비밀번호] AS passWd
   		FROM WEB_BOARD
   		WHERE [일련번호] = #{boardSeq}
    </select>
    
    <update id="updateBoard">
    	UPDATE WEB_BOARD
    	SET
    		[제목] = #{subject},
    		[내용] = #{contents},
    		[이름] = #{regNm},
    		[이메일] = #{email},
    		[비밀번호] = #{passWd},
    		[파일] = #{attchementFile}
   		WHERE [일련번호] = #{boardSeq}
    </update>
    
    <delete id="boardAdminDelete">
    	DELETE
    	FROM WEB_BOARD
    	WHERE [일련번호] = #{boardSeq}
    </delete>
    <!-- 2021-11-12 준혁(추가) -->
</mapper>    

