<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnns.web.pds.mapper.PdsMapper">

	<sql id="selectPdsListSearchCondition">
		<if test='searchType == "subject"'>
  		AND [제목] LIKE '%'+#{keyword}+'%'	
  		</if>
  		<if test='searchType == "contents"'>
  		AND [내용] LIKE '%'+#{keyword}+'%'
  		</if>
	</sql>
	
 	<select id="getPdsList" parameterType="com.gnns.web.pds.model.PdsModel" resultType="com.gnns.web.pds.model.PdsModel">
    	SELECT 
			  TOP (#{psize}) [일련번호] AS PDS_SEQ
			, [제목] as SUBJECT
		    , [내용] as CONTENTS
		    , [이름] as REG_ID
		    , CONVERT(CHAR(10), [날짜], 23) as REG_DTTM
		    , [파일] as ATTCHEMENT_FILE
		    , SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
		    , [조회수] as READ_CNT
		    , (
		    	SELECT COUNT([일련번호]) FROM WEB_BOARD_PDS
		        WHERE 1=1
		        <include refid="selectPdsListSearchCondition"/>
		       )-(ROW_NUMBER() OVER(ORDER BY [일련번호] DESC)+(#{psize}*(#{page}-1)))+1 AS ROW_NUM
		    FROM WEB_BOARD_PDS
		WHERE [일련번호] NOT IN (
			SELECT 
				TOP (#{psize}*(#{page}-1)) [일련번호] FROM WEB_BOARD_PDS
			WHERE 1=1
			<include refid="selectPdsListSearchCondition"/>	
			ORDER BY [날짜] DESC) 
		<include refid="selectPdsListSearchCondition"/>
		ORDER BY [날짜] DESC
    </select>
    
    <select id="getPdsListCount" parameterType="com.gnns.web.pds.model.PdsModel" resultType="com.gnns.web.pds.model.PdsModel">
    	SELECT /*getPdsListCount [전체건수]*/	
    		COUNT(*) AS TOT_CNT
    	  , CAST(CEILING(CAST(COUNT(*) AS FLOAT)/10) AS INT) AS TOT_PAGE 
    	FROM WEB_BOARD_PDS
    	WHERE
    	1=1
    	<include refid="selectPdsListSearchCondition"/>
    </select>
    
    <select id="getPdsRead" parameterType="com.gnns.web.pds.model.PdsModel" resultType="com.gnns.web.pds.model.PdsModel">
        SELECT
			  [일련번호] AS PDS_SEQ
			, [제목] AS SUBJECT
			, [내용] AS CONTENTS
			, CONVERT(CHAR(19), [날짜], 120) as REG_DTTM
			, REPLACE([이름], ' ', '') AS REG_ID
			, [파일] AS ATTCHEMENT_FILE
			, SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
			, [조회수] AS READ_CNT
			, [태그] AS TAG
		FROM WEB_BOARD_PDS
		WHERE [일련번호] =#{pdsSeq}
    </select>
    
    <select id="getAttachementFile" parameterType="com.gnns.web.pds.model.PdsModel" resultType="com.gnns.web.pds.model.PdsModel">
        SELECT
			  [파일] AS ATTCHEMENT_FILE
			, SUBSTRING([파일],CHARINDEX('.', [파일])+1,5) AS EXE_TYPE
		FROM WEB_BOARD_PDS
		WHERE [일련번호] =#{pdsSeq}
    </select>
    
    <insert id="insertPds" parameterType="com.gnns.web.pds.model.PdsModel">
    	INSERT INTO WEB_BOARD_PDS
		(
			  [제목]
			, [내용]
			, [날짜]
			, [태그]
			, [이름]
			, [조회수]
			, [파일]
			, [비밀번호]
			, [이메일]
			, REF
			, RE_STEP
			, RE_LEVEL
		)
		VALUES
		(
			  #{subject}
			, #{contents}
			, getDate()
			, #{tag}
			, #{regNm}
			, 0
			, #{attchementFile}
			, #{passWd}
			, #{email}
			, (SELECT MAX([일련번호])+1 FROM WEB_BOARD_PDS)
			, 0
			, 0 
		)
    </insert>
    <update id="updatePdsReadCnt" parameterType="com.gnns.web.pds.model.PdsModel">
    	UPDATE WEB_BOARD_PDS
    	SET [조회수] = (SELECT [조회수] FROM WEB_BOARD_PDS WHERE [일련번호]=#{pdsSeq})+1
    	WHERE [일련번호]=#{pdsSeq}
    </update>
    
    <!-- 2021-11-12 준혁(추가) -->
    <select id="pdsRead" parameterType="com.gnns.web.pds.model.PdsModel" resultType="com.gnns.web.pds.model.PdsModel">
    	SELECT
    		[일련번호] AS pdsSeq,
    		[제목] AS subject,
    		[내용] AS contents,
    		[이름] AS regNm,
    		[이메일] AS email,
    		[비밀번호] AS passWd,
    		[파일] AS attchementFile
   		FROM WEB_BOARD_PDS
   		WHERE [일련번호] = #{pdsSeq}
    </select>
    
    <update id="updatePds">
    	UPDATE WEB_BOARD_PDS
    	SET
    		[제목] = #{subject},
    		[내용] = #{contents},
    		[이름] = #{regNm},
    		[이메일] = #{email},
    		[비밀번호] = #{passWd},
    		[파일] = #{attchementFile}
   		WHERE [일련번호] = #{pdsSeq}
    </update>
    
    <delete id="pdsAdminDelete">
    	DELETE
    	FROM WEB_BOARD_PDS
    	WHERE [일련번호] = #{pdsSeq}
    </delete>
    
    <!-- 2021-12-17 준혁(추가) -->
    <select id="getMainPds" resultType="com.gnns.web.pds.model.PdsModel">
    	SELECT TOP 5 
			[일련번호] AS pdsSeq,
			[제목] AS subject,
			CONVERT(CHAR(10), [날짜], 23) as regDttm
		FROM web_board_pds 
		ORDER BY 
			pdsSeq 
		DESC
    </select>
    
</mapper>    
